# .NET
bin/
obj/
*.user
*.suo
*.cache
*.log
.vs/

# Angular
node_modules/
.angular/
dist/
.sass-cache/

# IDE
.idea/
.vscode/

# OS
Thumbs.db
.DS_Store

# Environment
*.env
appsettings.Development.json
